body {
    font-family: 'Open Sans', sans-serif;
    /* background-color: #ddd; */
    background-color: white;
    color: #212121;
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 12px;
}

.container-padding-top {
    margin-top: 76px;
}

.welcome {
    text-align: center;
    padding: 42px;
    margin-bottom: 24px;
    border: 1px solid #212121;
}

.variable {
    color: #8b0000;
}

code pre {
    font-family: 'Droid Sans Mono', monospace;
    border-left: 6px solid #212121;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #eee;
    color: #212121;
    padding: 24px;
    overflow: auto;
}

.listing > li {
    padding-top: 6px;
}

footer {
    padding: 46px;
    text-align: center;
}

h2 {
    margin-top: 44px;
}

footer a {
    color: inherit;
}

.luxbar-demo{
    align-items: stretch;
}

.luxbar-item-demo {
    flex: 1 1 auto;
    border-width: 0px !important;
}

.luxbar-menu-demo {
    margin-bottom: 24px;
    border: 1px solid currentColor;
}

#luxbar-menu-animation {
    border: 1px solid currentColor;
}

#luxbar-style-name {
    border: 1px solid currentColor;
}

.luxbar-menu-demo:hover .luxbar-theme-text::before,
.luxbar-menu-demo.active .luxbar-theme-text::before {
    content: '>> ';
}

.luxbar-hamburger-demo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.luxbar-hamburger-demo span::before {
    margin-top: -8px;
}

.luxbar-hamburger-demo span::after {
    margin-top: 8px;
}
.luxbar-hamburger-demo span::after,
.luxbar-hamburger-demo span::before {
    content: '';
    position: absolute;
}
.luxbar-hamburger-demo span::after,
.luxbar-hamburger-demo span::before,
.luxbar-hamburger-demo span {
    display: block;
    height: 2px;
    width: 25px;
    transition: .6s ease-out;
    background-color: currentColor;
}



.luxbar-doublespin-demo:hover span::before {
    transform: rotate(225deg);
    margin-top: 0px;
}

.luxbar-doublespin-demo:hover span::after {
    transform: rotate(-225deg);
    margin-top: 0px;
}

.luxbar-doublespin-demo:hover span {
    background: transparent;
}


.luxbar-spin-demo:hover span::before {
    transform: rotate(45deg);
    margin-top: 0px;
}

.luxbar-spin-demo:hover span::after {
    transform: rotate(-45deg);
    margin-top: 0px;
}

.luxbar-spin-demo:hover span {
    background: transparent;
}
