$luxbar-height: 58px !default;
$luxbar-breakpoint: 768px !default;
$luxbar-padding: 18px 24px 18px 24px !default;
$luxbar-transition: .6s ease !default;
$hamburger-line-height: 2px !default;
$hamburger-width: 26px !default;
$luxbar-shadow: 0 1px 3px rgba(#000, .12), 0 1px 2px rgba(#000, .24) !default;
$luxbar-css-prefix: 'luxbar' !default;
