$luxbar-height: 58px;
$luxbar-padding: 18px 24px 18px 24px;
$luxbar-transition: .6s ease;
$hamburger-line-height: 2px;
$hamburger-width: 26px;
$luxbar-shadow: 0 1px 3px rgba(#000, 0.12), 0 1px 2px rgba(#000 ,0.24);
