.luxbar-checkbox {
    &:checked {
        + .luxbar-menu {
            .luxbar-hamburger-doublespin {
                span {
                    &::before {
                        transform: rotate(225deg);
                    }

                    &::after {
                        transform: rotate(-225deg);
                    }
                }
            }
            .luxbar-hamburger-spin {
                span {
                    &::before {
                        transform: rotate(45deg);
                    }

                    &::after {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}
