.#{$luxbar-css-prefix}-default {
    width: 100%;
    position: relative;
    box-shadow: $luxbar-shadow;
    z-index: 1000;
}

.#{$luxbar-css-prefix}-static {
    box-shadow: $luxbar-shadow;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    .#{$luxbar-css-prefix}-checkbox {
        &:checked ~.#{$luxbar-css-prefix}-menu {
            position: absolute;
        }
    }
}

.#{$luxbar-css-prefix}-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: $luxbar-shadow;
}

.#{$luxbar-css-prefix}-fixed-bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    box-shadow: $luxbar-shadow;
}
