@media screen and (min-width: 768px) {
    .luxbar-navigation {
        flex-flow: row;
        justify-content: flex-end;
    }

    .luxbar-header {
        margin-right: auto;
    }

    .luxbar-hamburger {
        display: none;
    }

    .luxbar-checkbox {
        &:not(:checked) ~.luxbar-menu {
            overflow: visible;
        }
    }

    .luxbar-menu {
        .luxbar-item {
            border-top: 0;
        }
    }

    .dropdown {
        height: $luxbar-height;

        &:hover > ul {
            position: absolute;
            left: 0;
            top: $luxbar-height;
            padding: 0;
        }

        & > ul {
            display: none;

            .luxbar-item {
                padding: 5px 10px;

                a {
                    white-space: nowrap;
                }
            }
        }
    }
}
