@import 'global-variables';

%general-hamburger-span {
    display: block;
    height: $hamburger-line-height;
    width: $hamburger-width;
    transition: $luxbar-transition;
}

%hamburger-lines {
    span {
        background-color: transparent;

        &::before,
        &::after {
            margin-top: 0;
        }
    }
}

.luxbar-default {
    width: 100%;
    position: relative;
}

.luxbar-static {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.luxbar-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.luxbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: $luxbar-height;
}

.luxbar-brand {
    font-size: 1.6em;
    padding: 0;
    padding-left: $luxbar-padding;
}

.luxbar-menu {
    min-height: $luxbar-height;
    transition: $luxbar-transition;
    width: 100%;
}

.luxbar-navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.luxbar-menu,
.luxbar-item {
    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
}

.luxbar-item {
    height: $luxbar-height;

    a {
        padding: $luxbar-padding;
        display: block;
    }
}

.luxbar-hamburger {
    padding: $luxbar-padding;
    position: relative;
    cursor: pointer;

    span {
        @extend %general-hamburger-span;

        &::before,
        &::after {
            @extend %general-hamburger-span;
            content: '';
            position: absolute;
        }

        &::before {
            margin-top: -8px;
        }

        &::after {
            margin-top: 8px;
        }
    }
}

.luxbar-checkbox {
    display: none;

    &:not(:checked) ~.luxbar-menu {
        overflow: hidden;
        height: $luxbar-height;
    }

    &:checked ~.luxbar-menu {
        height: auto;
        overflow: auto;

        li {
            .luxbar-hamburger {
                @extend %hamburger-lines;
            }

            @import 'hamburger-spin';
            @import 'hamburger-double-spin';
        }
    }
}

.dropdown {
    position: relative;
    height: auto;
    min-height: $luxbar-height;

    & > a {
        &::after {
            content: '';
            position: absolute;
            right: 10px;
            top: $luxbar-height / 2;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            border-top: 5px solid $default-fg;
        }
    }

    &:hover > ul {
        position: relative;
        display: block;
        min-width: 100%;
    }

    & > ul {
        display: block;
        overflow-x: hidden;
        list-style: none;
        padding: 0;

        .luxbar-item {
            min-width: 100%;
            height: $luxbar-height / 2;
            padding: 5px 10px 5px 40px;

            a {
                min-height: $luxbar-height / 2;
                line-height: $luxbar-height / 2;
                padding: 0;
            }
        }
    }
}

@import 'non-mobile';
@import './themes/all';
