/* default luxbar-menu themes: dark, light, transparent*/
    /*luxbar-menu-light*/
$default-fg: #fff;

$light-bg: #e0e0e0;
$light-hl: #bdbdbd;
$light-fg: #212121;

$dark-bg: #212121;
$dark-hl: #424242;
$dark-fg: $default-fg;

$transparent-bg: inherit;
$transparent-fg: #212121;

$material-red-bg: #B71C1C;
$material-red-hl: #C62828;
$material-red-fg: $default-fg;

$material-indigo-bg: #1A237E;
$material-indigo-hl: #283593;
$material-indigo-fg: $default-fg;

$material-cyan-bg: #006064;
$material-cyan-hl: #00838F;
$material-cyan-fg: $default-fg;

$material-green-bg: #1B5E20;
$material-green-hl: #2E7D32;
$material-green-fg: $default-fg;

$material-amber-bg: #FF6F00;
$material-amber-hl: #FF8F00;
$material-amber-fg: $default-fg;

$material-brown-bg: #3E2723;
$material-brown-hl: #4E342E;
$material-brown-fg: $default-fg;

$material-bluegrey-bg: #263238;
$material-bluegrey-hl: #37474F;
$material-bluegrey-fg: $default-fg;

.luxbar-menu-light {

    background-color: $light-bg;
    color: $light-fg;

    .luxbar-item:nth-child(2) {
        border-top: 1px solid $light-bg;
    }

    .active, .luxbar-item:hover {
        background-color: $light-hl;
    }

    .luxbar-hamburger {
        span, span::before, span::after {
            background-color: $light-fg;
        }
    }
}

    /*luxbar-menu-dark*/

.luxbar-menu-dark {

    background-color: $dark-bg;
    color: $dark-fg;

    .luxbar-item:nth-child(2) {
        border-top: 1px solid $dark-bg;
    }

    .active, .luxbar-item:hover {
        background-color: $dark-hl;
    }

    .luxbar-hamburger {
        span, span::before, span::after {
            background-color: $dark-fg;
        }
    }
}


.luxbar-menu-transparent {

    background-color: $transparent-bg;
    color: $transparent-fg;

    .luxbar-item:nth-child(2) {
        border-top: 1px solid $transparent-bg;
    }

    .active, .luxbar-item:hover {
        text-decoration: underline;
    }

    .luxbar-hamburger {
        span, span::before, span::after {
            background-color: $transparent-fg;
        }
    }
}

/* material luxbar-menu themes: material-red, material-indigo, material-cyan, material-green,
                                material-amber, material-brown, material-bluegrey*/
    /*luxbar-menu-material-red*/

.luxbar-menu-material-red {

    background-color: $material-red-bg;
    color: $material-red-fg;

    .luxbar-item:nth-child(2) {
        border-top: 1px solid $material-red-bg;
    }

    .active, .luxbar-item:hover {
        background-color: $material-red-hl;
    }

    .luxbar-hamburger {
        span, span::before, span::after {
            background-color: $material-red-fg;
        }
    }
}


/*luxbar-menu-material-indigo*/

.luxbar-menu-material-indigo {

    background-color: $material-indigo-bg;
    color: $material-indigo-fg;

    .luxbar-item:nth-child(2) {
        border-top: 1px solid $material-indigo-bg;
    }

    .active, .luxbar-item:hover {
        background-color: $material-indigo-hl;
    }

    .luxbar-hamburger {
        span, span::before, span::after {
            background-color: $material-indigo-fg;
        }
    }
}

/*luxbar-menu-material-cyan*/

.luxbar-menu-material-cyan {

    background-color: $material-cyan-bg;
    color: $material-cyan-fg;

    .luxbar-item:nth-child(2) {
        border-top: 1px solid $material-cyan-bg;
    }

    .active, .luxbar-item:hover {
        background-color: $material-cyan-hl;
    }

    .luxbar-hamburger {
        span, span::before, span::after {
            background-color: $material-cyan-fg;
        }
    }
}

/*luxbar-menu-material-green*/

.luxbar-menu-material-green {

    background-color: $material-green-bg;
    color: $material-green-fg;

    .luxbar-item:nth-child(2) {
        border-top: 1px solid $material-green-bg;
    }

    .active, .luxbar-item:hover {
        background-color: $material-green-hl;
    }

    .luxbar-hamburger {
        span, span::before, span::after {
            background-color: $material-green-fg;
        }
    }
}

/*luxbar-menu-material-amber*/

.luxbar-menu-material-amber {

    background-color: $material-amber-bg;
    color: $material-amber-fg;

    .luxbar-item:nth-child(2) {
        border-top: 1px solid $material-amber-bg;
    }

    .active, .luxbar-item:hover {
        background-color: $material-amber-hl;
    }

    .luxbar-hamburger {
        span, span::before, span::after {
            background-color: $material-amber-fg;
        }
    }
}

/*luxbar-menu-material-brown*/

.luxbar-menu-material-brown {

    background-color: $material-brown-bg;
    color: $material-brown-fg;

    .luxbar-item:nth-child(2) {
        border-top: 1px solid $material-brown-bg;
    }

    .active, .luxbar-item:hover {
        background-color: $material-brown-hl;
    }

    .luxbar-hamburger {
        span, span::before, span::after {
            background-color: $material-brown-fg;
        }
    }
}

/*luxbar-menu-material-bluegrey*/

.luxbar-menu-material-bluegrey {

    background-color: $material-bluegrey-bg;
    color: $material-bluegrey-fg;

    .luxbar-item:nth-child(2) {
        border-top: 1px solid $material-bluegrey-bg;
    }

    .active, .luxbar-item:hover {
        background-color: $material-bluegrey-hl;
    }

    .luxbar-hamburger {
        span, span::before, span::after {
            background-color: $material-bluegrey-fg;
        }
    }
}


