$luxbar-height: 58px;
$luxbar-padding: 18px 24px 18px 24px;
$luxbar-transition: .6s ease;
$hamburger-line-height: 2px;
$hamburger-width: 26px;
// $luxbar-shadow: 0 2px 5px rgba(0,0,0,.26);
$luxbar-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

@import 'themes';
@import 'hamburger';

/*.luxbar styles: default, static, fixed*/
.luxbar-default {
    width: 100%;
    position: relative;
    box-shadow: $luxbar-shadow;
}

.luxbar-static {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: $luxbar-shadow;
    background-color: inherit;
}

.luxbar-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: $luxbar-shadow;
    background-color: inherit;
}

.luxbar-fixed-bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    box-shadow: $luxbar-shadow;
    background-color: inherit;
}


/*general luxbar specs*/
.luxbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $luxbar-height;
}

.luxbar-menu-left {
    .luxbar-navigation, .luxbar-header {
        justify-content: flex-start;
    }
}

.luxbar-menu-right {
    .luxbar-hamburger {
        margin-left: auto;
    }
}

.luxbar-brand {
    font-size: 1.6em;
    padding: $luxbar-padding;
}

.luxbar-menu {
    height: $luxbar-height;
    overflow: hidden;
    transition: $luxbar-transition;
}

.luxbar-navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
    margin: 0px;
}

.luxbar-menu a,
.luxbar-item {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.luxbar-item {
    padding: $luxbar-padding;
    padding-left: $luxbar-padding;
    padding-right: $luxbar-padding;
    height: 100%;
    display: block;
}



/*behavior for screenwidth over or equal to 768*/

@media screen and (min-width: 768px) {

    .luxbar-navigation {
        flex-flow: row;
        align-items: center;
    }

    .luxbar-menu-right .luxbar-header {
        margin-right: auto;
    }

    // .luxbar-menu-justify {
    //     .luxbar-navigation, .luxbar-header {
    //         justify-content: space-around;
    //     }

    //     .luxbar-item {
    //         flex-basis: 0;
    //         flex-grow: 1;
    //         text-align: center;
    //     }
    // }


    .luxbar-hamburger {
        display: none;
    }

    .luxbar-menu .luxbar-item:nth-child(2) {
        border-top: 0px;
    }


}
